<footer class="section">
  <div class="container">
    <div class="block">
      <p class="content is-small">Made by
        <a href="https://ericnmurphy.com/">Eric Murphy</a>
      </p>
    </div>
  </div>
</footer>