<section class="section">
  <div class="container">
    <div class="block">
      <div class="columns">
        <div class="column is-9">
          <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">Get yelled at</a>
            </div>
            <div class="navbar-end">
              <div class="navbar-item">
                {{#if user}}
                  <a href="logout">Logout</a>
                {{else}}
                  <a href="login">Login</a>
                {{/if}}
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>