<header class="jumbotron">
  <h1>Need to get of your ass? Pair up with someone and get yelled at until you get shit done.</h1>
</header>
<p>Trying to hit the gym consistently? Start the business you've always wanted to? Write a blog post every day?</p>

<p>Drop your email below and what you're trying to accomplish, and you'll be matched with someone to keep you accountable for the next 30 days. All you have to do is yell at them in return so you can both get shit done.</p>

<form action="/" method="post">
  <div>
    <label for="name">First name</label>
    <input name="name" type="text">
  </div>
  <div>
    <label for="email">Email</label>
    <input name="email" type="text">
  </div>
  <div>
    <label for="goal">What is one goal you're trying to accomplish in the next 30 days?</label>
    <textarea name="goal"></textarea>
  </div>
  <input type="submit" value="Get after it">
</form>
<footer>
  <p>Made by <a href="https://ericnmurphy.com/">Eric Murphy</a></p>
</footer>