<div class="block">
  <div class="columns">
    <div class="column is-9">
      <h3 class="title is-5">Already signed up?</h1>
    </div>
  </div>
</div>

<div class="block">
  <div class="columns">
    <div class="column is-5">
      <form action="/login" method="post">
        {{> _errors}}
        <div class="field">
          <label class="label" for="user">Email</label>
          <input name="user" type="text" class="input">
        </div>
        <input class="button is-primary" type="submit" value="Log in">
      </form>
    </div>
  </div>
</div>

<footer>
  <p class="content is-small">Made by <a href="https://ericnmurphy.com/">Eric Murphy</a></p>
</footer>