<div class="block">
  <div class="columns">
    <div class="column is-9">
      {{#if register}}

      <h3 class="title is-3">Hell yeah, {{name}}, thanks for signing up!</h1>
      <p class="content">Just sent an email to <em>{{email}}</em> to verify your email address. Click the link and you're finished. You'll get paired up soon, so get ready to get off your ass 💪 You're gonna crush it.</p>

      {{else}}

      <h3 class="title is-3">Awesome, just to verify:</h1>
      <p class="content">Sent an email to <em>{{email}}</em> to log you in. Click the link and you're inside.</p>

      {{/if}}
    </div>
  </div>
</div>